@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/fonts";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #000;
  background-image: url('/images/background.png');
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.noselect {
}

.ExhibitComponents,
.ViewExhibitComponent,
.EditExhibitComponent,
.Videos,
.NewVideo {
  background-color: #FFF;
  padding: 0 40px 40px 40px;
}

/**
 * Selection screen - English and Spanish colors
 */
.en{
  color: #afafaa;
}

.es{
  color: #f26322;
}

/**
 * Selection screen - Top level headline
 */
h1 {
  text-align: center;
}

h1 div.en {
  margin-top: 52px;
}

h1 div.en,
h1 div.es {
  font-family: 'Avenir Next Condensed Bold', sans-serif;
  line-height: 70px;
  font-size: 65px;
}

h1 div.es {
  font-size: 58px;
}

/**
 * Selection screen - Video button questions
 */
.video-button h2 { margin-top: 0 }

/* Slightly lighter shade to increase the contrast and improve readability */
/* TODO: review with designers */
h2 div.es {
  color: #f5763c;
}

h2 div.en,
h2 div.es {
  font-family: 'Avenir Next Condensed Medium', sans-serif;
  margin: 0 0 0 20px;
  line-height: 33px;
  font-size: 25px;
}

h2 div.en {
  border-bottom: 2px solid #ebed4f;
  padding-bottom: 7px;
  margin: 0 20px 9px 20px;
}

h2 div.es {
  margin: 5px 20px 0 20px;
}

/**
 * Selection screen - Button positions
 */
#selection-screen .video-button {
  font-family: "Avenir Next Condensed Bold", sans-serif;
  background-color: rgba(46, 46, 46, 0.85);
  z-index: 1;
  position: absolute;
  top: 249px;
  left: 30px;
  width: 591px;
  min-height: 375px;
  transition: all .15s ease-out;
}

#selection-screen .video-button:active {
  transform: scale(0.99) translate(0px, 2px);
  transition: all .03s ease-out;
  background-color: rgba(44, 44, 44, 0.8);
}

#selection-screen .video-button.active {
  transform: scale(1.06) translate(0px, -2px);
  background-color: rgba(100, 100, 100, 0.6);
}

#selection-screen .video-button img {
  margin: 20px;
}

#selection-screen .video-02,
#selection-screen .video-04 {
  left: 658px;
}

#selection-screen .video-03,
#selection-screen .video-06 {
  left: 1287px;
}

#selection-screen .video-04,
#selection-screen .video-05,
#selection-screen .video-06 {
  top: 663px;
}

/**
 * Rules for kiosks with fewer videos
 */
#selection-screen.vid-count-4 .video-03{
  top: 663px;
}

#selection-screen.vid-count-4 .video-01,
#selection-screen.vid-count-4 .video-03,
#selection-screen.vid-count-5 .video-04 {
  left: 349px;
}
#selection-screen.vid-count-4 .video-02,
#selection-screen.vid-count-4 .video-04,
#selection-screen.vid-count-5 .video-05 {
  left: 980px;
}

/**
 * Video player
 *
 * Starts out transparent and gets animated in on a play event.
 */
.video-player {
  position: absolute;
  top:0;
  left:0;
  width: 1920px;
  height: 1080px;
  z-index: 3;
  opacity: 1;
}

.video-player.playing {
  opacity: 0.1;
}

.player-fade-enter {
  opacity: 0.01;
}

.player-fade-enter.player-fade-enter-active {
  opacity: 1.0;
  transition: opacity 0.5s ease-in;
}

.player-fade-leave {
   opacity: 0.0;
   transition: opacity 0.3s ease-out;
}

.home-button {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0;
  padding: 42px 85px 42px 41px;
}

.home-button img {
  width: 60px;
  opacity: .5;
  transition: all .1s ease-out;
}

.home-button:active img {
  transform: scale(0.96);
  opacity: .75;
}

.looping-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}

.screensaver {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 4;
}
