@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/fonts";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #000;
  background-image: url('/images/background.png');
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.noselect {
}

.ExhibitComponents,
.ViewExhibitComponent,
.EditExhibitComponent,
.Videos,
.NewVideo {
  background-color: #FFF;
  padding: 0 40px 40px 40px;
}

/**
 * Selection screen - Top level headline
 */
h1 {
  text-align: left;
  margin-top: 0px;
}

h1 div.en {
  margin-top: 0px;
  margin-left: 35px;
}

h1 div.en,
h1 div.es {
  font-family: 'museo700', sans-serif;
  line-height: 0px;
  font-size: 32px;
  /*letter-spacing: 0.01em;*/
}

h1 div.es {
  font-size: 58px;
}

.horizontal-break {
  margin-top: 35px;
}

/**
 * Selection screen - Video button questions
 */
.video-button h2 {

  margin: 30px 60px 0px 60px;

}

h2 div.en,
h2 div.es {
  font-family: 'museo700', sans-serif;
  color: #000000;
  line-height: 33px;
  font-size: 25px;
  text-align: center;
}

h2 div.en {

}

h2 div.es {

}

/**
 * Flutes / Jingles Dress
 */
.component-0607 .horizontal-break .cls-1 {
  fill: #718356;
}
.component-0607 .video-button {
  background-image: url('/images/pattern-0607.png');
  background-color: #C5CCB7;
  width: 904px;
}
.component-0607 h1 {
  color: #C5CCB7;
}

/**
 * Identities
 */
.component-0225 .horizontal-break .cls-1 {
  fill: #B18642;
}
.component-0225 .video-button {
  background-image: url('/images/pattern-0225.png');
  background-color: #D8BB94;
  width: 352px;
}
.component-0225 h1 {
  color: #D8BB94;
}

/**
 * Selection screen - Button positions
 */
#selection-screen .video-button {
  font-family: "museo700", sans-serif;
  z-index: 1;
  position: absolute;
  background-repeat: repeat-x;
  background-position: bottom;
  bottom: 0px;
  left: 0px;
  min-height: 880px;
  transition: all .15s ease-out;
}

#selection-screen .video-button:active {
  transform: scale(0.99) translate(0px, 2px);
  transition: all .03s ease-out;
  /*background-color: rgba(44, 44, 44, 0.8);*/
}

#selection-screen .video-button.active {
  transform: scale(1.06) translate(0px, -2px);
  /*background-color: rgba(100, 100, 100, 0.6);*/
}

#selection-screen .video-button img {
  margin: 0px;
  width: 100%;
}

/**
 * Layout for 2 video-buttons
 */
#selection-screen.vid-count-2 .video-01 {
  left: 34px;
}

#selection-screen.vid-count-2 .video-02 {
  left: 981px;
}

/**
 * Layout for 5 video-buttons
 */
#selection-screen.vid-count-5 .video-01 {
  left: 26px;
}

#selection-screen.vid-count-5 .video-02 {
  left: 407px;
}

#selection-screen.vid-count-5 .video-03 {
  left: 787px;
}

#selection-screen.vid-count-5 .video-04 {
  left: 1165px;
}

#selection-screen.vid-count-5 .video-05 {
  left: 1541px;
}

/**
 * Video player
 *
 * Starts out transparent and gets animated in on a play event.
 */
.video-player {
  position: absolute;
  top:0;
  left:0;
  width: 1920px;
  height: 1080px;
  z-index: 3;
  opacity: 1;
}

.video-player.playing {
  opacity: 0.1;
}

.player-fade-enter {
  opacity: 0.01;
}

.player-fade-enter.player-fade-enter-active {
  opacity: 1.0;
  transition: opacity 0.5s ease-in;
}

.player-fade-leave {
   opacity: 0.0;
   transition: opacity 0.3s ease-out;
}

.home-button {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0;
  padding: 42px 85px 42px 41px;
}

.home-button img {
  width: 60px;
  opacity: .5;
  transition: all .1s ease-out;
}

.home-button:active img {
  transform: scale(0.96);
  opacity: .75;
}

.looping-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}

.screensaver {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 4;
}
